body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #F9F5F3;

}


#logo {
    height: 68px;
    justify-content: flex-start;
}
#UHTriLogo {
    background-color: #EBDFD8;
}

#jumboApp{
    background-color: #9F7A87;
}
#mockupPic {

}


h1{

}

h2{

}

h3{

}

.navbar-light .navbar-nav .nav-link {
    color: #C94B59 !important;

}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}


.hero {
    display: flex;
    justify-content: center;
    width: 60%;
}

.dropdown-menu {
  left: -40px;
}

.backgroundFocus {
    background-color: #EFEDED;
}

.footer a {

}