body {
    font-family: 'Merriweather', sans-serif;
    background-color: #F9F5F3;

}


#logo {
    height: 68px;
    justify-content: flex-start;
}
#UHTriLogo {
    background-color: #EBDFD8;
}

#jumboApp{
    background-color: #9F7A87;
    color: white;

}
#mockupPic {

}


h1{

}

h2{
    color: #C94B59
}

h3{

}

.card {
    background-color: #EBDFD8;
}


.customImage {
    max-height: 500px;
}

.downloadCard {
    background-color: #9F7A87;
    color: white;
}


.navbar-light .navbar-nav .nav-link {
    color: #C94B59 !important;

}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}


.dropdown-menu {
  left: -100px;
}

.backgroundFocus {
    background-color: #EBDFD8;
    color: #C94B59;
}

.footer a {

}